{% extends "base.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row py-5 mt-4 align-items-center">

            <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
                <img src="{{ asset('assets/images/side-img.svg') }}" alt=""
                     class="img-fluid mb-3 d-none d-md-block">
                <h1>Meet the Team demo</h1>
            </div>

            <!-- Login Form -->
            <div class="col-md-7 col-lg-6 ml-auto">
                <form action="{{ path('app_login') }}" method="post">

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="row">

                        <!-- Password -->
                        <div class="input-group col-lg-12 mb-4">
                            <label for="password" class="d-block w-100">Enter password</label>
                            <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-3">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                            </div>
                            <input id="password" type="password" name="password" placeholder="Password"
                                   class="form-control bg-white border-left-0 border-md" required>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group col-lg-12 mx-auto mb-0">
                            <button type="submit" class="btn btn-primary btn-block py-2">
                                <span class="font-weight-bold">Login</span>
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}