<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meet the team!{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

        .form-control::placeholder {
            color: #ccc;
            font-size: 0.9rem;
        }

        .form-control:focus {
            box-shadow: none;
        }

        .text-truncate {
            width: 28vw !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }

        .vich-image img {
            width: 80px;
            margin: 15px auto 5px;
            display: block;
        }
    </style>

    {% block styles %}{% endblock %}
</head>
<body>

<!-- Navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container">
            <!-- LOGO -->
            <a href="/" class="navbar-brand">
                <h1>Meet The Team</h1>
            </a>

            {% if app.user %}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                                <img src="{{ asset('assets/images/avatar.jpg') }}" class="rounded-circle" height="20">
                            {{ app.user.fullName }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('teammate_index') }}">Dashboard</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>
<div class="container">

    {% block content %}{% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% block scripts %}{% endblock %}
</body>
</html>
