{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="container">
            <div class="w-50 mx-auto my-5" style="width: 25rem;">

                <h2 class="text-center text-bold">403 - Forbidden page</h2>

                <h3 class="text-center">
                    This page is not allowed  <br>
                    Go back to <a href="{{ path('app_homepage') }}">homepage.</a>
                </h3>
            </div>
        </div>
    </div>
{% endblock %}