<form method="post" action="{{ path('teammate_delete', {'id': teammate.id}) }}" class="d-block mt-5 w-100 text-center"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ teammate.id) }}">

    <button class="btn btn-danger mx-1">
        <i class="fa fa-trash mr-1"></i>
        Delete
    </button>
</form>
