{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="d-block text-center mt-5">
        <a class="btn btn-primary d-inline-block mx-2" href="{{ path('teammate_index') }}">
            <i class="fa fa-arrow-left mr-1"></i>Back to list</a>

        <button class="btn btn-success d-inline-block mx-1">
            <i class="fa fa-check mr-1"></i>{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
