{% extends 'base.html.twig' %}

{% block content %}

    <h1>Edit Teammate</h1>

    {{ include('teammate/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('teammate/_delete_form.html.twig') }}

{% endblock %}
