{% extends 'base.html.twig' %}

{% block content %}

    <h1>Teammates</h1>

    <div class="text-right  mb-3">
        <a class="btn btn-primary" href="{{ path('teammate_new') }}">
            <i class="fa fa-plus mr-1"></i>Create new</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Role</th>
            <th>Notes</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for teammate in teammates %}
            <tr>
                <td class="text-center w-25">
                    {% if teammate.picture is null %}
                        <img src="{{ asset('assets/images/avatar.jpg') }}" class="rounded-circle" height="60">
                    {% else %}
                        <img src="{{ vich_uploader_asset(teammate, 'pictureFile') }}" class="rounded-circle" alt="{{ teammate.picture }}" height="60">
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('teammate_show', {'id': teammate.id}) }}">{{ teammate.name }}</a>
                </td>
                <td>{{ teammate.role }}</td>
                <td class="text-truncate">{{ teammate.notes }}</td>
                <td class="w-25">
                    <a class="btn btn-secondary" href="{{ path('teammate_edit', {'id': teammate.id}) }}">
                        <i class="fa fa-pencil mr-1"></i>
                        edit
                    </a>

                    <form method="post" action="{{ path('teammate_delete', {'id': teammate.id}) }}" class="d-inline-block"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ teammate.id) }}">

                        <button class="btn btn-danger mx-1">
                            <i class="fa fa-trash mr-1"></i>
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no temmates found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
