{% extends 'base.html.twig' %}

{% block content %}

    <h1>Teammate</h1>

    <div class="text-center my-5">
        {% if teammate.picture is null %}
            <img src="{{ asset('assets/images/avatar.jpg') }}" class="rounded-circle" height="100">
        {% else %}
            <img src="{{ vich_uploader_asset(teammate, 'pictureFile') }}" class="rounded-circle" alt="{{ teammate.picture }}" height="100">
        {% endif %}

        <h2 class="mt-3">{{ teammate.name }}</h2>

    </div>
    <table class="table text-center my-5">
        <tbody>
        <tr>
            <th>Role</th>
            <td>{{ teammate.role }}</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>{{ teammate.notes }}</td>
        </tr>
        </tbody>
    </table>

    <div class="d-block text-center mt-5">
        <a class="btn btn-primary d-inline-block mx-2" href="{{ path('teammate_index') }}">
            <i class="fa fa-arrow-left mr-1"></i>Back to list</a>

        <a class="btn btn-primary d-inline-block mx-2" href="{{ path('teammate_edit', {'id': teammate.id}) }}"><i class="fa fa-check mr-1"></i> Edit</a>
    </div>

    {{ include('teammate/_delete_form.html.twig') }}

{% endblock %}
